.video{
    width: 600px;
}

.video-area{
    position: relative;
    height: 0px;
    background-color: black;
    padding: 0px 0px 50%;
}

iframe{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

img{
    width: max(50%, 300px);
    height: max(50%, 300px);
}

.cinza{
    background-color: rgb(117, 117, 117);
    width: calc(100% - 20px);
    height: 100px;
}