@keyframes exemplo{
    0% {
        background-color: red;
    }

    25%{
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

body{
    margin: 0px;
    padding: 0px;
}

div{
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: exemplo;
    animation-duration: 10s;
}