@keyframes exemplo1{
    0% {
        background-color: red;
        color: red;
    }

    25%{
        background-color: yellow;
        color: yellow;
    }

    50% {
        background-color: blue;
        color: blue;
    }

    75% {
        background-color: green;
        color: green;
    }

    100% {
        background-color: red;
        color: red;
    }
}

@keyframes exemplo2{
    0% {
        color: red;
    }

    25%{
        color: yellow;
    }

    50% {
        color: blue;
    }

    75% {
        color: green;
    }

    100% {
        color: red;
    }
}

body{
    margin: 0px;
    padding: 0px;
}

div{
    width: 100px;
    height: 100px;
    background-color: black;
    transition: all 1s linear;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 5px black;
}

div:hover{
    width: 150px;
    height: 150px;
    animation-name: exemplo1;
    animation-duration: 1ms;
}

.c{
    transition: all 1s linear;
    border-radius: 50%;
}

h1{
    transition: all 1s linear;
    font-size: 40px;
}

h1:hover{
    font-size: 50px;
    animation-name: exemplo2;
    animation-duration: 10s;
}

#quadrado{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    word-wrap: break-word;
}

q{
    color: rgb(73, 73, 73);
    font-style: italic;
}