h1{
    font-size: 36px;
}

h2{
    font-size: 25px;
}

#subtitulo{
    color: rgb(8, 92, 64);
}

h1, h2 {
    background-color: rgb(29, 29, 29);
    color: white;
}

p{
    border: 2px solid rgb(7, 135, 167);
}

.texto{
    color: maroon;
}

div{
    background-color: chocolate;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid aquamarine;
}

a{
    color: green;
    font-size: 20px;
}

a:hover{
    color: blue;
}
img{
    width: 200px;
    border: 5px solid rgb(119, 10, 114);
    border-radius: 20px;
    overflow: hidden;
}

button {
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: darkcyan;
}

li{
    font-weight: bold;
    color: blueviolet;
    font-size: 20px;
}

ol > li{
    color: pink;
}

